/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;  
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }


    .site .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
  
.page_container { width: 1000px; margin: 0 auto; }
.page_container .inner {padding: 0 30px;}

div {display: block;}

h1 { font-size: 30pt; color: #F46B35; margin-bottom: 3px;font-family: Georgia; }
h1 .small { font-size: 0.4em; font-family: Georgia;}
h1 a { text-decoration: none font-family: Georgia;}
h2 { font-size: 1.5em; color: #F46B35; font-family: Georgia;}
h3 { text-align: center; color: #F46B35; font-family: Georgia;}

header { height: 180px; background: url(/lokad-cqrs/images/header_bg.png) repeat-x; padding-top: 30px; }

header a {font-size: 10pt;}
header table {margin-top: 10px;}

#menu a { margin-left: 20px; color: #f36b34;}
#menu .inactive {color: #c9c9c9;}

#main_containter {width: 620px; margin-left: 120px; padding: 10px; }

.description {width: 480px; font-family: Sans-Serif; }
.description span {font-style: italic; font-size: 10pt;}

footer { clear: both; background: #58595b url(/lokad-cqrs/images/footer_bg.png) repeat-x; width: 100%; height: 185px; padding-top: 20px;  }
footer a {color: #7090cf; font-size: 10pt; font-weight: normal; }
footer .header { color: #e3e3e3; font-size: 14pt;}
footer .logo {float: left; width: 250px; font-size: 8pt; font-family: sans-serif; color: #e3e3e3;}
footer .inner {margin-left: 70px;}

.contact {float: left; width: 180px; line-height: 18pt; font-family: Georgia, 'Times New Roman', Times, serif;}

.right {float: right; text-align: right;}