<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Lokad.CQRS Team and contributors" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/lokad-cqrs/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/lokad-cqrs/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>
	<header>
		<div class="page_container">
			<div class="inner">		
				
				<div class="right description">
				<span>
					Lokad.CQRS is a .NET framework and a set of guidance materials for building distributed and scalable applications to be run on-premises or in the cloud. This project helps to design and develop decoupled systems locally and bring them to the distributed environments later.
				</span>
					<table id="menu" class="right">
						<tr>
							<td><a href="http://lokad.github.com/lokad-cqrs/">Lokad.CQRS</a></td>
							<td><a class="inactive" href="http://lokad.github.com/">Lokad Projects</a></tdi>
							<td><a class="inactive" href="http://www.lokad.com/developers.ashx">Lokad SAS</a></td>
						</tr>
					</table>
				</div>
				<div>
					<a href="http://lokad.github.com/lokad-cqrs" > <img src="/lokad-cqrs/images/lokad_cqrs_logo_header.png" alt="Lokad.CQRS logo"/></a>
				</div>
			</div>
		</div>
	</header>
<div class="site">
  
  <div>
	  <p><em>This is draft of Lokad.CQRSv3 guidance, scheduled for release in fall 2011. In the meantime, v2 can be <a href="http://lokad-cqrs.googlecode.com/files/Lokad.CQRS-v2.0.pdf">downloaded as PDF</a>.</em></p>
  </div>
  
  <div class="page_container">
		<div id="main_container">		
			{{ content }}
		</div>
  </div>
	

</div>

	<footer>	
		<div class="page_container">
			<div class="inner">
				<div class="contact"> 
					<span class="header">Lokad</span><br />    
					<a href="http://lokad.com">Lokad.com</a></br > 
					<a href="http://twitter.com/lokad/">twitter.com/lokad</a><br /> 
					<a href="http://github.com/lokad/">github.com/lokad</a> 
				</div>	 
				<div class="contact"> 				  
					<span class="header">Rinat Abdullin</span><br /> 
					<a href="http://abdullin.com/">Abdullin.com</a><br /> 
					<a href="http://twitter.com/abdullin/">twitter.com/abdullin</a><br /> 
					<a href="http://github.com/abdullin/">github.com/abdullin</a> 				  
				</div> 
				<div class="contact">			
						<span class="header">Lokad.Cloud</span> <br/>
						<a href="http://">LokadCloud Home</a> <br/>
						<a href="http://twitter.com/#!/lokad">twitter.com/LC</a> <br/>
						<a href="http://github.com/abdullin">github.com/abdullin</a>
				</div>
				<div class="logo right">
					&copy; 2007-2011, Lokad. All rights reserved.<br/>
					<img src="/lokad-cqrs/images/lokad_cqrs_logo_footer.png" alt=""/>
			</div>
			</div>
		</div>	
	</footer>

<a href="https://github.com/lokad/lokad.github.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a></body>
</html>
